#app {
    margin: 20px 20px;
}

.header-main {
    height: 10%;
    width: 15%;
    background-color: aqua;
}

body {
    margin: 0;
    font-size: 16px;
}

a {
    color: #00bcd4;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.4s;
}

a:hover {
    color: #1976d2;
}

.text-center {
    text-align: center;
}

.top-bar {
    padding: 10px 15px;
    margin-bottom: 50px;
}

.top-bar::after {
    content: '';
    display: block;
    clear: both;
}

.top-bar-left {
    float: left;
    font-size: 1.5em;
}

.top-bar-right {
    float: right;
}

.top-bar a,
.nav a {
    margin: 0 8px;
}

.container {
    margin: 0 auto;
    text-align: center;
    width: 700px;
}

.card-heading {
    padding: 16px;
}

.field-line, .button-line {
    padding: 16px;
}

.error-message {
    padding: 0 16px;
    color: tomato;
}

.success-message {
    padding: 0 16px;
    color: green;
}

.profile-label {
    text-align: left !important;
}

.container {
    text-align: left !important;
}

.side-label {
    width: 110px;
}

.drop {
    float: left;
}

.drop-area {
    padding: 10px;
    height: 380px;
    text-align: center;
    vertical-align: middle;
    background-color: #cccccc;
}

.drop-main {
    float: left;
}

input.hidden {
    position: absolute;
    left: -9999px;
}

#profile-image1 {
    cursor: pointer;

    width: 100px;
    height: 100px;
    border: 2px solid #03b1ce;
}

.title {
    font-size: 16px;
    font-weight: 500;
}

.bot-border {
    border-bottom: 1px #f8f8f8 solid;
    margin: 5px 0 5px 0
}

.image-group {
    text-align: center;
}

.hr-style {
    margin: 5px 0 5px 0;
}

.profile-name {
    color: #00b1b1;
}

.editable-input {
    width: 85%;
}

.button-group {
    text-align: center;
}

.button-group .btn {
    margin-right: 20px;
}